<!DOCTYPE html>
<html>
  <head>
    <h1>WhatWatch - Movie Search Website</h1>
  </head>
  <body>
    <h3>Create an account</h3>
    <form action="/" method="post">
      User name:<input type="text" name="oldUserName" required /><br />
      New user name:<input type="text" name="userName" required /><br />
      New password:<input type="text" name="password" required /><br />
      <input type="submit" value="Create" />
    </form>
  </body>
</html>
