<!DOCTYPE html>
<html>
  <head>
    <h1>WhatWatch - Movie Search Websitee</h1>
  </head>
  <body>
    <h3>What movie should I watch today?? lonig and find🎬</h3>
    <form action="/main" method="post">
      User Name:<input
        type="text"
        id="userName"
        name="userName"
        value="Admin"
      /><br />
      Password:<input
        type="password"
        id="password"
        name="password"
        value="1111"
      /><br />
      <input type="submit" value="login" />
    </form>
    <p>New user? <a href="/createAccount">Create account</a></p>
  </body>
</html>
