<!DOCTYPE html>
<html>
  <head>
    <h1>WhatWatch - Movie Search Website</h1>
  </head>
  <body>
    <h3>
      You do not have login privileges.. Return to <a href="/main">main page</a>
    </h3>
  </body>
</html>
