<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <h1>WhatWatch - Movie Search Website</h1>
  <a href="/" class="logOut" style="position: absolute; top: 2rem; right: 2rem"
    ><input type="button" value="Log Out"
  /></a>
</head>
